* {
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(../images/background.jpg);
    height: 100vh;
    text-align: center;
}
.secondary {
    background: #e23a0d;
    color: #333;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  }
.main_title {
    color: #fff;
    font-size: 77px;
    padding-bottom: 20px;
}
.container {
    max-width: 950px;
    margin: auto;
    padding-top: 150px;
}
.hr {
    width: 60px;
    height: 3px;
    text-align: center;
    background: #f4623a;
    border: none;
    margin: 0 auto;
}
.main_p {
    color: rgba(255,255,255,.75);
    font-size: 26px;
    margin: 20px 30px;
}
.btn {
    color: #fff;
    background-color: #e6552d;
    border-color: #e6552d;
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
    display: inline-block;
    margin-top: 50px;
}
.btn:hover{
    background-color: #e23a0d;
}
nav {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0;
    flex-wrap: wrap;
    transition: all 0.5s ease-in;
}
nav a {
 color: #fff;
    text-decoration: none;
}
.logo {
    font-size: 24px;
}
nav a:hover {
    color: #333;
}
.nav_ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.nav_ul li  a{
    padding: 0 15px;
}











